aiosqlite==0.20.0
alembic==1.13.2
asyncpg==0.29.0
beautifulsoup4==4.12.3
celery==5.4.0
celery-redbeat==2.2.0
fastapi[all]==0.111.1
loguru==0.7.2
lxml==5.2.2
pocketsphinx==5.0.3
pycparser==2.22
pydantic==2.8.2
pydantic-extra-types==2.9.0
pydantic-settings==2.4.0
pydantic_core==2.20.1
PyPasser==0.0.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
redis==5.0.8
SQLAlchemy==2.0.31
undetected-chromedriver==3.5.5
uvicorn==0.30.3
gunicorn==22.0.0